body{
    background-color: greenyellow;
    text-decoration: none;
    list-style: none;
}
.space{
    margin-top: 10px;
}

@media (max-width: 767.98px) {
    .od{
        order: 1;
        margin: 0%;
    }

    .space{
        margin: 0%;
    }
    .mn{
        margin: auto;
    }
 }
 

 .shake-hard,.shake-horizontal{
    animation-delay: 13s;
 }
 
 .avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}